*{
    margin: 0;
    padding: 0;
  
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #f1f1f1;
}

h1{
    font-size: 36px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 20px;
}

.icon-list{
    display: flex;
    gap: 10px;
    align-items: center;
}

.fa-star-o{
    font-size: 30px;
}

span{
    color: orangered;
}